<%- include("header") -%>

    <section id="profile">
      <div class="media" >
        <div class="media-body">
          <h1 class="name">Prem Balaraman,18</h1>
          <h3 >
            Be CSE
            </h3>
            <div class="interest">

              <ul class="interest-ul">

                <li class="nav-link">
                  <a href="#webdevelopment">web development</a>

                </li>
                <li class="nav-link">
                  <a href="#">hustling</a>

                </li>
                <li class="nav-link">
                  <a href="#">python</a>

                </li>
                <li class="nav-link">
                  <a href="#">reading</a>

                </li>
                <li class="nav-link">
                  <a href="#">learning</a>

                </li>
                <li class="nav-link">
                  <a href="#">situation friendly</a>

                </li>

                <li class="nav-link">
                  <a href="#">exercise</a>

                </li>
                <li class="nav-link">
                  <a href="#">hard coding</a>

                </li>
              </ul>
              </div>

        </div>
        <img src="345.png" class="ml-3 " alt="hai"/>
        </div>
    </section>



    <!-- <h1>school</h1>
    <p>
    aws.school
    98%
  </p> -->
  <!-- <blockquote class="blockquote mb-0">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote> -->

    <section id="education">
      <h1 class="title">Education</h1>
      <div class="row education">

    <div class="school  col-md-4 col-sm-12">
      <div class="card">
  <div class="card-header">

    School
  </div>
  <div class="card-body">

    <p>

      12TH-98%
    </p>
      <p>

        10th-96%
      </p>

  <footer class="footer">

    awsmmxn.school
  </footer>

  </div>
</div>

    </div>
    <div class="college col-md-4 col-sm-12">
      <div class="card">
        <div class="card-header">

          College
        </div>
        <div class="card-body">
          <p>
            Overall percentage</p>
            <p>

              98%
            </p>

        <footer class="footer">

          Cit,Coimbatore

        </footer>

        </div>

      </div>

    </div>
    <div class="online  col-md-4 col-sm-12">
      <div class="card">
  <div class="card-header">

    Online

  </div>
  <div class="card-body">
    <p>

        Javascript,</p>
        <p>

          web dev
        </p>


      <footer class="footer">

        Grasshopper,Udemy

      </footer>



  </div>
</div>

    </div>
  </div>
    </section>
    <section id="skills">
      <div class="skills">

        <h1 class="title">skills</h1>
        <table>
          <tr>
            <td>

              <table>

                <tr>
                  <td>web development</td>
                  <td>
                    <div class="progress">

                      <div class="progress-bar" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% complete</span>

                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>python</td>
                  <td>
                    <div class="progress">

                      <div class="progress-bar" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        <span class="sr-only">70% complete</span>

                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>c</td>
                  <td>
                    <div class="progress">

                      <div class="progress-bar" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        <span class="sr-only">70% complete</span>

                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </td>
            <td>


              <table>

              <tr>
                <td>c++</td>
                <td>
                  <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:60%">
                      <span class="sr-only">70% complete</span>

                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>html</td>
                <td>
                  <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:50%">
                      <span class="sr-only">70% complete</span>

                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Javascript</td>
                <td>
                  <div class="progress">

                    <div class="progress-bar" role="progressbar" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100" style="width:100%">
                      <span class="sr-only">70% complete</span>

                    </div>
                  </div>
                </td>
              </tr>
            </table>

            </td>
          </tr>


        </table>
      </div>
    </section>
    <section id="achievements">
      <div class="achievements">
        <h1 class="title">Achievements</h1>
        <div class="experience achdiv blue">
          <h1>Experience</h1>
          <p>
            i am a new bie
          </p>
        </div>
        <div class="projects achdiv">
          <h1>Projects</h1>
          <p>
            this is my first project
          </p>

        </div>
        <div class="habit achdiv ">
          <h1>Habit</h1>
          <p>
            never give up
          </p>
        </div>

        <div class="extra achdiv blue">
          <h1>Extra</h1>
          <p>
            I am good football player
          </p>
        </div>

      </div>
    </section>
    <section id="bio">
      <div class="bio ">
        <h1 class="title"> Bio data</h1>
        <table>
          <tr>
            <td class="blue">
              Hobbies
            </td>
            <td class="bluel">
              <ul class="ull">

                <li>
                  playing football
                </li>
                <li>
                  listenning music
                </li>
                <li>
                  reading books
                </li>

              </ul>
            </td>
          </tr>
          <tr>
            <td class="">
              Date of birth
            </td>
            <td class="bluel">
              00.00.2001
            </td>
          </tr>
          <tr>
            <td class="blue">
              Martial status
            </td>
            <td class="bluel">

              single
            </td>
          </tr>
          <tr>
            <td class="">
              Expected job
            </td>
            <td class="bluel">
              sechuled hustle time
            </td>
          </tr>

        </table>

      </div>
    </section>
<%- include("footer") -%>
